@media (orientation: portrait) {

    body {
        align-items: center;
    }

    #LandingPageOptionsContainer {
        width: 98vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
    }

    #LandingPageFoodText {
        position: absolute;
        top: 23%;
        left: 40%;
        color: white;
        font-size: xx-large;
        font-family: cursive;
    }

    #LandingPageDrinkText {
        position: absolute;
        top: 72.5%;
        right: 37%;
        color: white;
        font-size: xx-large;
        font-family: cursive;
    }

    #LandingPageNewFoodOption {
        width: 97.5%;
        height: 48.5vh;
        flex: .5;
        justify-content: center;
        opacity: 50%;
    }

    #LandingPageNewDrinksOption {
        width: 97.5%;
        height: 48.5vh;
        flex: .5;
        justify-content: center;
        opacity: 50%;
    }

    #NavBarContainer {
        height: 11vh;
        width: 100%;
        background-color: #2a2b2a;
        display: flex;
        flex-direction: row;
    }

    #NavBarHomeButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarHomeButtonText {
        color: white;
    }

    #NavBarNewRecipesButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarNewRecipesButton :hover {
        cursor: pointer;
    }

    #NavBarSortButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarSortButton :hover {
        cursor: pointer;
    }

    #NewFoodRecipesContainer {
        width: 95.75vw;
        background-color: #EEEEEE;
        margin-right: auto;
    }

    #NewDrinkRecipesContainer {
        background-color: #EEEEEE;
        margin-right: auto;
    }

    #ListingContainer {
        height: 20vh;
    }

    #ListingContainerView {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    #ListingImageContainer {
        width: 30%;
        margin-right: 5%;
        margin-top: 1%;
    }

    #ListingImage {
        width: 33vw;
    }

    #ListingDetailsContainer {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    #ListingNameContainer {
        margin-bottom: 5%;
        text-decoration: none;
    }

    #ListingNameText {
        text-align: center;
        overflow: hidden;
        color: black;
    }

    #ListingIngredientsAndFavContainer {
        display: flex;
        padding-left: 10%;
    }

    #ListingIngredientsList {
        overflow: hidden;
        width: 75%;
        text-decoration: none;
    }

    #ListingFavContainer {
        width: 25%;
        padding-top: 10%;
        color: lightblue;
    }

    #ListingFavText {
        font-size: 50;
        color: white;
        align-self: center;
    }

    #Ingredient {
        color: black;
        font-size: 10px;
    }

    #RecipeDetailsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EEEEEE;
        min-height: 88.5vh;
    }

    #RecipeDetailsImageContainer {
        text-align: center;
        margin-top: 2.5%;
    }

    #RecipeDetailsImage {
        width: 60%;
    }

    #RecipeDetailsRecipeInfo {
        height: 15%;
        margin-top: 5%;
        align-items: center;
        width: 75%;
    }

    #RecipeDetailsNameText {
        font-size: 35px;
        color: #333333;
        text-align: center;
        height: 48%;
        overflow: hidden;
    }

    #RecipeDetailsIngredientsContainer {
        display: flex;
        flex-direction: row;
        margin-top: 2.5%;
        overflow: hidden;
        justify-content: center;
    }

    #RecipeDetailsLeft {
        display: flex;
        flex-direction: column;
    }

    #RecipeDetailsPadding {
        width: 5%;
    }

    #RecipeDetailsRight {
        display: flex;
        flex-direction: column;
    }

    #RecipeDetailsText {
        font-size: 10px;
    }

    #RecipeDetailsInstructionsContainer {
        width: 50%;
        align-items: center;
        height: 10%;
    }

    #RecipeDetailsInstructionsText {
        color: #333333;
        margin-bottom: 5%;
        margin-top: 20%;
        height: 115%;
        overflow: hidden;
    }

    #RecipeDetailsBackButtonLink {
        text-decoration: none;
        color: black;
    }

    #RecipeDetailsBackButtonText {
        text-align: center;
        border: 1px #333333 solid;
        border-radius: 25px;
        margin-top: 15%;
    }

    #SortModal {
        margin-top: 15%;
        margin-left: 50%;
        background-color: red;
        position: absolute;
    }

}

@media (orientation: landscape) {

    body {
        align-items: center;
    }

    #LandingPageOptionsContainer {
        display: flex;
        flex-direction: row;
        z-index: 1;
    }

    #LandingPageNewFoodLinkContainer {
        width: 50%;
    }

    #LandingPageNewFoodOption {
        width: 100%;
        height: 100vh;
        border: 1px;
        border-radius: 100px;
        opacity: 50%;
    }

    #LandingPageFoodText {
        position: absolute;
        top: 47%;
        left: 21.5%;
        color: white;
        font-size: xxx-large;
        font-family: cursive;
    }

    #LandingPageDrinkText {
        position: absolute;
        top: 47%;
        right: 20%;
        color: white;
        font-size: xxx-large;
        font-family: cursive;
    }

    #LandingPageNewDrinksLinkContainer {
        width: 50%;
    }

    #LandingPageNewDrinksOption {
        width: 100%;
        min-height: 100%;
        border: 1px;
        border-radius: 100px;
        opacity: 50%;
    }

    #NavBarContainer {
        height: 10vh;
        background-color: #2a2b2a;
        display: flex;
    }

    #NavBarHomeButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
        text-decoration: none;
    }

    #NavBarHomeButtonText {
        color: white;
    }

    #NavBarNewRecipesButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarNewRecipesButton :hover {
        cursor: pointer;
    }

    #NavBarSortButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarSortButton :hover {
        cursor: pointer;
    }

    #NewFoodRecipesContainer {
        width: 98.75%;
        background-color: #EEEEEE;
        position: absolute;
        min-height: 88.5vh;
    }

    #NewDrinkRecipesContainer {
        width: 98.75%;
        background-color: #EEEEEE;
        position: absolute;
    }

    #ListingContainer {
        height: 40vh;
        width: 25%;
        float: left;
    }

    #ListingContainerView {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    #ListingImageContainer {
        margin-top: 2%;
        align-self: center;
        z-index: 1;
        opacity: 100%;
    }

    #ListingImageContainer:hover {
        z-index: 0;
        opacity: 75%;
    }

    #ListingImage {
        width: 18vw;
    }

    #ListingImage:hover {
        width: 20vw;
    }

    #ListingDetailsContainer {
        position: relative;
        top: 118px;
        flex-direction: column;
        pointer-events: none;
    }

    #ListingNameContainer {
        height: 35%;
        text-decoration: none;
    }

    #ListingNameText {
        font-size: x-large;
        text-align: center;
        color: black;
        width: 73%;
        margin: auto;
    }

    #ListingIngredientsAndFavContainer {
        margin-top: 1vh;
        align-self: baseline;
        display: none;
        width: 88%;
        padding-left: 5%;
    }

    #ListingIngredientsList {
        overflow: hidden;
        width: 100%;
        text-decoration: none;
    }

    #ListingFavContainer {
        color: lightblue;
    }

    #ListingFavText {
        font-size: 50;
        color: white;
        align-self: center;
    }

    #Ingredient {
        color: black;
        font-size: x-small;
        text-align: center;
        padding-right: 5%;
    }

    #RecipeDetailsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EEEEEE;
    }

    #RecipeDetailsImageContainer {
        margin-top: 2.5%;
        text-align: center;
    }

    #RecipeDetailsImage {
        width: 50%;
    }

    #RecipeDetailsRecipeInfo {
        height: 15%;
        width: 80%;
        margin-top: 5%;
        align-items: center;
    }

    #RecipeDetailsNameText {
        font-size: 35px;
        color: #333333;
        text-align: center;
        height: 48%;
        overflow: hidden;
    }

    #RecipeDetailsIngredientsContainer {
        display: flex;
        flex-direction: row;
        margin-top: 2.5%;
        overflow: hidden;
        justify-content: center;
    }

    #RecipeDetailsLeft {
        display: flex;
        flex-direction: column;
        margin-right: 1%;
    }

    #RecipeDetailsRight {
        display: flex;
        flex-direction: column;
        margin-left: 1%;
    }

    #RecipeDetailsInstructionsContainer {
        width: 50%;
        align-items: center;
        height: 10%;
    }

    #RecipeDetailsInstructionsText {
        color: #333333;
        margin-top: 10%;
        text-align: center;
    }

    #RecipeDetailsBackButtonLink {
        text-decoration: none;
        color: black;
    }

    #RecipeDetailsBackButtonText {
        text-align: center;
        border: 1px #333333 solid;
        border-radius: 25px;
        margin-top: 15%;
    }

    #SortModal {
        margin-top: 8%;
        margin-left: 55%;
        background-color: lightblue;
        position: fixed;
        z-index: 1;
        border: 1px;
        border-radius: 5%;
        width: 40%;
        height: 70%;
        text-align: center;
    }

    #SortNav {
        height: 15%;
    }

    #SortNavContainer {
        display: flex;
        justify-content: center;
        padding: 5%;
    }

    #SortNavCloseButton {
        cursor: pointer;
        width: 20%;
    }

    #SortNavSearchFoodsButton {
        padding-left: 15%;
        padding-right: 15%;
        text-decoration: none;
        color: black;
        cursor: pointer;
        width: 20%;
    }

    #SortNavSearchDrinksButton {
        text-decoration: none;
        color: black;
        cursor: pointer;
        width: 20%;
    }

    #SearchByNameContainer {
        display: flex;
        justify-content: center;
        padding: 2.5%;
    }

    #SearchByNameInput {
        margin-right: 2.5%
    }

    #SearchByNameSubmitButton {
        opacity: 40%;
        border: 1px solid black;
        border-radius: 100px;
        padding: 1%;
    }

    #SearchByNameSubmitButton:hover {
        opacity: 100%;
    }

    #SearchByCategoryContainer {
        padding: 2.5%;
        display: none;
    }

    #SearchByCategoryText {
        opacity: 40%;
    }

    #SearchByIngredientsContainer {
        padding: 2.5%;
        display: none;
    }

    #SearchByIngredientsText {
        opacity: 40%;
    }

    #SearchByAreaContainer {
        padding: 2.5%;
        display: none;
    }

    #SearchByAreaText {
        opacity: 40%;
    }

    #LatestRecipes {
        opacity: 40%;
        border: 1px solid #333333;
        border-radius: 100px;
    }

    #LatestRecipes:hover {
        opacity: 100%;
    }

}