@media (orientation: portrait) {

    body {
        align-items: center;
    }

    #LandingPageOptionsContainer {
        width: 98vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
    }

    #LandingPageNewFoodOption {
        width: 97.5%;
        height: 48.5vh;
        flex: .5;
        justify-content: center;
    }

    #LandingPageNewDrinksOption {
        width: 97.5%;
        height: 48.5vh;
        flex: .5;
        justify-content: center;
    }

    #NavBarContainer {
        height: 10vh;
        width: 100%;
        background-color: #2a2b2a;
        display: flex;
        flex-direction: row;
    }

    #NavBarHomeButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarHomeButtonText {
        color: white;
    }

    #NavBarNewRecipesButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarNewRecipesButton :hover {
        cursor: pointer;
    }

    #NavBarSortButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarSortButton :hover {
        cursor: pointer;
    }

    #NewFoodRecipesContainer {
        width: 95.75vw;
        background-image: url('https://recipe-book-images.s3.us-east-2.amazonaws.com/images/woodBackground.jpg');
        margin-right: auto;
    }

    #NewDrinkRecipesContainer {
        width: 95.75vw;
        background-image: url('https://recipe-book-images.s3.us-east-2.amazonaws.com/images/woodBackground.jpg');
        margin-right: auto;
    }

    #FoodListingContainer {
        height: 25vh;
    }

    #FoodListingContainerView {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    #FoodListingImageContainer {
        max-width: 30%;
        max-height: 100%;
        margin-left: 2.5%;
        margin-right: 5%;
        align-self: center;
    }

    #FoodListingImage {
        width: 33vw;
    }

    #FoodListingNameContainer {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
        margin-left: 2%;
    }

    #FoodListingNameText {
        text-align: center;
        color: white;
        height: 25%;
        margin-bottom: 12%;
        margin-top: 7%;
        overflow: hidden;
    }

    #FoodListingIngredientsList {
        height: 85%;
        overflow: hidden;
    }

    #FoodListingFavContainer {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
    }

    #FoodListingFavText {
        font-size: 50;
        color: white;
        align-self: center;
    }

    #DrinkListingContainer {
        height: 25vh;
    }

    #DrinkListingContainerView {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    #DrinkListingImageContainer {
        max-width: 30%;
        max-height: 100%;
        margin-left: 2.5%;
        margin-right: 5%;
        align-self: center;
    }

    #DrinkListingImage {
        width: 33vw;
    }

    #DrinkListingNameContainer {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
        margin-left: 2%;
    }

    #DrinkListingNameText {
        text-align: center;
        color: white;
        height: 25%;
        margin-bottom: 12%;
        margin-top: 7%;
        overflow: hidden;
    }

    #DrinkListingIngredientsList {
        height: 85%;
        overflow: hidden;
    }

    #DrinkListingFavContainer {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
    }

    #DrinkListingFavText {
        font-size: 50;
        color: white;
        align-self: center;
    }

    #Ingredient {
        color: white;
        font-size: 10px;
    }

    #RecipeDetailsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EEEEEE;
        min-height: 88.5vh;
    }

    #RecipeDetailsImageContainer {
        text-align: center;
        margin-top: 2.5%;
    }

    #RecipeDetailsImage {
        width: 60%;
    }

    #RecipeDetailsRecipeInfo {
        height: 15%;
        margin-top: 5%;
        align-items: center;
        width: 75%;
    }

    #RecipeDetailsNameText {
        font-size: 35px;
        color: #333333;
        text-align: center;
        height: 48%;
        overflow: hidden;
    }

    #RecipeDetailsIngredientsContainer {
        display: flex;
        flex-direction: row;
        margin-top: 2.5%;
        overflow: hidden;
        justify-content: center;
    }

    #RecipeDetailsLeft {
        display: flex;
        flex-direction: column;
    }

    #RecipeDetailsPadding {
        width: 5%;
    }

    #RecipeDetailsRight {
        display: flex;
        flex-direction: column;
    }

    #RecipeDetailsText {
        font-size: 10px;
    }

    #RecipeDetailsInstructionsContainer {
        width: 50%;
        align-items: center;
        height: 10%;
    }

    #RecipeDetailsInstructionsText {
        color: #333333;
        margin-bottom: 5%;
        margin-top: 20%;
        height: 115%;
        overflow: hidden;
    }

    #RecipeDetailsBackButtonText {
        text-align: center;
        border: 1px #333333 solid;
        border-radius: 25px;
        margin-top: 15%;
    }

    #SortModal {
        margin-top: 15%;
        margin-left: 50%;
        background-color: red;
        position: absolute;
    }

}

@media (orientation: landscape) {

    body {
        align-items: center;
    }

    #LandingPageOptionsContainer {
        display: flex;
        flex-direction: row;
    }

    #LandingPageNewFoodLinkContainer {
        width: 50%;
    }

    #LandingPageNewFoodOption {
        width: 100%;
        height: 100vh;
        border: 1px;
        border-radius: 100px;
    }

    #LandingPageNewDrinksLinkContainer {
        width: 50%;
    }

    #LandingPageNewDrinksOption {
        width: 100%;
        min-height: 100%;
        border: 1px;
        border-radius: 100px;
    }

    #NavBarContainer {
        height: 10vh;
        width: 100%;
        background-color: #2a2b2a;
        display: flex;
        flex-direction: row;
    }

    #NavBarHomeButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarHomeButtonText {
        color: white;
    }

    #NavBarNewRecipesButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarNewRecipesButton :hover {
        cursor: pointer;
    }

    #NavBarSortButton {
        margin-left: 8.5vw;
        margin-right: 8.5vw;
        margin-top: auto;
        margin-bottom: auto;
        width: 15vw;
        text-align: center;
        opacity: 40%;
        background-color: black;
        border: none 1px solid;
        border-radius: 25px;
    }

    #NavBarSortButton :hover {
        cursor: pointer;
    }

    #NewFoodRecipesContainer {
        width: 95.75vw;
        background-image: url('https://recipe-book-images.s3.us-east-2.amazonaws.com/images/woodBackground.jpg');
        margin-right: auto;
    }

    #NewDrinkRecipesContainer {
        width: 95.75vw;
        background-image: url('https://recipe-book-images.s3.us-east-2.amazonaws.com/images/woodBackground.jpg');
        margin-right: auto;
    }

    #FoodListingContainer {
        height: 25vh;
    }

    #FoodListingContainerView {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    #FoodListingImageContainer {
        max-width: 30%;
        max-height: 100%;
        margin-left: 2.5%;
        margin-right: 5%;
        align-self: center;
    }

    #FoodListingImage {
        height: 25vh;
    }

    #FoodListingNameContainer {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
        margin-left: 2%;
    }

    #FoodListingNameText {
        text-align: center;
        color: white;
        height: 25%;
        margin-bottom: 12%;
        margin-top: 7%;
        overflow: hidden;
    }

    #FoodListingIngredientsList {
        height: 85%;
        overflow: hidden;
    }

    #FoodListingFavContainer {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
    }

    #FoodListingFavText {
        font-size: 50;
        color: white;
        align-self: center;
    }

    #DrinkListingContainer {
        height: 25vh;
    }

    #DrinkListingContainerView {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    #DrinkListingImageContainer {
        max-width: 30%;
        max-height: 100%;
        margin-left: 2.5%;
        margin-right: 5%;
        align-self: center;
    }

    #DrinkListingImage {
        height: 25vh;
    }

    #DrinkListingNameContainer {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
        margin-left: 2%;
    }

    #DrinkListingNameText {
        text-align: center;
        color: white;
        height: 25%;
        margin-bottom: 12%;
        margin-top: 7%;
        overflow: hidden;
    }

    #DrinkListingIngredientsList {
        height: 85%;
        overflow: hidden;
    }

    #DrinkListingFavContainer {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
    }

    #DrinkListingFavText {
        font-size: 50;
        color: white;
        align-self: center;
    }

    #Ingredient {
        color: white;
        font-size: 10px;
    }

    #RecipeDetailsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EEEEEE;
    }

    #RecipeDetailsImageContainer {
        margin-top: 2.5%;
    }

    #RecipeDetailsImage {
        height: 100%;
    }

    #RecipeDetailsRecipeInfo {
        height: 15%;
        width: 80%;
        margin-top: 5%;
        align-items: center;
    }

    #RecipeDetailsNameText {
        font-size: 35px;
        color: #333333;
        text-align: center;
        height: 48%;
        overflow: hidden;
    }

    #RecipeDetailsIngredientsContainer {
        display: flex;
        flex-direction: row;
        margin-top: 2.5%;
        overflow: hidden;
        justify-content: center;
    }

    #RecipeDetailsLeft {
        display: flex;
        flex-direction: column;
        margin-right: 1%;
    }

    #RecipeDetailsRight {
        display: flex;
        flex-direction: column;
        margin-left: 1%;
    }

    #RecipeDetailsInstructionsContainer {
        width: 50%;
        align-items: center;
        height: 10%;
    }

    #RecipeDetailsInstructionsText {
        color: #333333;
        margin-bottom: 5%;
        margin-top: 10%;
        height: 115%;
        overflow: hidden;
    }

    #RecipeDetailsBackButtonText {
        text-align: center;
        border: 1px #333333 solid;
        border-radius: 25px;
        margin-top: 15%;
    }

    #SortModal {
        margin-top: 15%;
        margin-left: 50%;
        background-color: red;
        position: absolute;
    }

}