@media (orientation: portrait) {
  #landingPageContainer {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-txt-color);
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  #landingPageFoodOption {
    height: 75%;
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
    text-decoration: none;
  }
  #landingPageDrinkOption {
    height: 75%;
    width: 50%;
    margin-top: 5%;
    margin-right: 5%;
    text-decoration: none;
  }
  #landingPageFoodText {
    text-align: center;
    color: var(--main-bg-color);
    font-size: 2em;
    height: 2em;
  }
  #landingPageDrinkText {
    text-align: center;
    color: var(--main-bg-color);
    font-size: 2em;
    height: 2em;
  }
  #landingPageFoodGallery {
    overflow: hidden;
    width: 100%;
    margin-top: 10%;
    margin-right: 2.5%;
  }
  #landingPageDrinkGallery {
    overflow: hidden;
    width: 100%;
    margin-top: 10%;
    margin-left: 2.5%;
  }
  .gallery {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 1.5s ease-in;
    transition-timing-function: cubic-bezier(0.5, 1, 1, 1);
  }
  .image {
    height: 10vh;
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
  }
  #food6 {
    display: none;
  }
  #food7 {
    display: none;
  }
  #drink6 {
    display: none;
  }
  #drink7 {
    display: none;
  }
}

@media (orientation: landscape) {
  #landingPageContainer {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    justify-content: center;
    display: flex;
  }
  #landingPageFoodOption {
    width: 45%;
    text-decoration: none;
    transition: ease-in-out all 1.5s;
    margin-top: 10vh;
  }
  #landingPageFoodOption:hover {
    color: white;
  }
  #landingPageDrinkOption {
    width: 45%;
    text-decoration: none;
    transition: ease-in-out all 1.5s;
    margin-top: 10vh;
  }
  #landingPageDrinkOption:hover {
    color: white;
  }
  #landingPageFoodText {
    text-align: center;
    color: var(--main-txt-color);
    font-size: xx-large;
  }
  #landingPageDrinkText {
    text-align: center;
    color: var(--main-txt-color);
    font-size: xx-large;
  }
  #landingPageFoodGallery {
    overflow: hidden;
    max-height: 50vh;
    width: 100%;
    margin-top: 10%;
    margin-right: 2.5%;
  }
  #landingPageDrinkGallery {
    overflow: hidden;
    max-height: 50vh;
    width: 100%;
    margin-top: 10%;
    margin-left: 2.5%;
  }

  .gallery {
    opacity: 0;
    transition: all 1.5s ease-in-out;
    transition-timing-function: cubic-bezier(0.5, 1, 1, 1);
  }
  .image {
    width: 10vw;
    border: 3px solid #333333;
    border-radius: 25%;
  }
}
