@media (orientation: portrait) {
  #ListingContainer {
    height: 20vh;
  }

  #ListingContainerView {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-decoration: none;
  }

  #ListingImageContainer {
    width: 30%;
    margin-right: 5%;
    margin-top: 1%;
  }

  #ListingImage {
    width: 33vw;
  }

  #ListingDetailsContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  #ListingNameContainer {
    margin-bottom: 5%;
    text-decoration: none;
  }

  #ListingNameText {
    text-align: center;
    overflow: hidden;
    color: black;
  }

  #ListingIngredientsAndFavContainer {
    display: flex;
    padding-left: 10%;
    flex-direction: row-reverse;
  }

  #ListingIngredientsList {
    overflow: hidden;
    width: 75%;
    text-decoration: none;
  }

  #ListingFavLinkContainer {
    margin-top: 15%;
  }

  #ListingFavContainer {
    width: 25%;
    padding-top: 10%;
    color: lightblue;
  }

  #ListingFavText {
    font-size: 50;
    color: white;
    align-self: center;
  }

  #ListingFavStar {
    font-size: xx-large;
    pointer-events: none;
  }

  #Ingredient {
    color: black;
    font-size: 10px;
  }
}

@media (orientation: landscape) {
  .RecipesContainer {
    background-color: #eeeeee;
    min-width: 100vw;
  }

  .NewRecipesHeader {
    text-align: center;
    font-size: xxx-large;
  }

  .ListContainer {
    margin-top: 5%;
    width: 100vw;
  }

  .ListingContainer {
    height: 30vw;
    width: 20vw;
    float: left;
    text-align: center;
    border: 1px solid var(--main-bg-color);
    margin: 2.25%;
    position: relative;
    transition: all ease-in-out 1000ms;
    border-radius: 25px;
  }

  .ListingContainer:hover {
    border: 1px solid white;
    background-color: var(--main-bg-color);
  }

  .ListingContainer:hover .ListingNameText {
    color: white;
  }

  .ListingContainerView {
    height: 100%;
    width: 100%;
    text-decoration: none;
  }

  .ListingImage {
    width: 80%;
    margin-top: 6vw;
  }

  .ListingNameText {
    text-align: center;
    text-decoration: none;
    color: var(--main-bg-color);
    position: absolute;
    top: 0;
    width: 100%;
    transition: all ease-in-out 1000ms;
    margin-top: 1vh;
  }

  .fa-star {
    position: absolute;
    bottom: 5.5%;
    left: 42%;
    font-size: 4vw;
  }

  .fa-star:hover {
    color: var(--main-txt-color) !important;
  }
}
