@media (orientation: portrait) {
  #loginContainer {
    position: absolute;
    bottom: 0%;
    height: 10%;
    background-color: #2a2b2a;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.75s;
  }

  #loginUsername {
    height: 0;
    opacity: 0;
    transition: all ease-in-out 0.75s;
    margin: auto;
    margin-bottom: 0;
    border: 0;
    border-radius: 25px;
    text-align: center;
  }

  #loginUsernameExpanded {
    transition: all ease-in-out 0.75s;
    margin: auto;
    margin-bottom: 0;
    border: 0;
    border-radius: 25px;
    text-align: center;
    height: 10%;
  }

  #loginPassword {
    height: 0;
    opacity: 0;
    transition: all ease-in-out 0.75s;
    margin: auto;
    margin-bottom: 0;
    margin-top: 5%;
    border: 0;
    border-radius: 25px;
    text-align: center;
  }

  #loginPasswordExpanded {
    transition: all ease-in-out 0.75s;
    margin: auto;
    margin-bottom: 0;
    margin-top: 5%;
    border: 0;
    border-radius: 25px;
    text-align: center;
    height: 10%;
  }

  #loginButton {
    width: 30%;
    margin: auto;
    margin-bottom: 1.25%;
  }

  #signUpButton {
    width: 30%;
    margin: auto;
    margin-top: 1.25%;
    margin-bottom: 5%;
  }

  #loginClose {
    height: 0;
    opacity: 0;
  }

  #loginCloseExpanded {
    transition: all ease-in-out 0.75s;
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: xx-large;
    color: white;
  }

  #loginContainerExpanded {
    position: absolute;
    bottom: 0%;
    height: 30%;
    background-color: #2a2b2a;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.75s;
  }
}

@media (orientation: landscape) {
  #loginContainer {
    position: absolute;
    bottom: 5%;
    height: 10%;
    width: 10%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.75s;
  }

  #loginContainerExpanded {
    position: absolute;
    bottom: 5%;
    height: 27.5%;
    width: 18%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.75s;
  }

  #loginUsername {
    height: 0;
    width: 50%;
    opacity: 0;
    margin: auto;
    margin-bottom: 0;
    border: 0;
    border-radius: 25px;
    text-align: center;
    transition: all ease-in-out 0.75s;
  }

  #loginUsernameExpanded {
    height: 10%;
    width: 80%;
    opacity: 100%;
    margin: auto;
    margin-bottom: 0;
    border: 0;
    border-radius: 25px;
    text-align: center;
    transition: all ease-in-out 0.75s;
  }

  #loginPassword {
    height: 0;
    width: 50%;
    opacity: 0;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 5%;
    border: 0;
    border-radius: 25px;
    text-align: center;
    transition: all ease-in-out 0.75s;
  }

  #loginPasswordExpanded {
    height: 10%;
    width: 80%;
    opacity: 100%;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 5%;
    border: 0;
    border-radius: 25px;
    text-align: center;
    transition: all ease-in-out 0.75s;
  }

  #loginButton {
    margin-top: 1%;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: white;
    color: var(--main-txt-color);
    font-size: x-large;
    border-radius: 25px;
    transition: all ease-in-out 0.75s;
    cursor: pointer;
  }

  #loginButton:hover {
    background-color: var(--main-txt-color);
    color: white;
  }

  #signUpButton {
    margin-top: 1%;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: var(--main-txt-color);
    font-size: x-large;
    transition: all ease-in-out 0.75s;
    cursor: pointer;
  }

  #signUpButton:hover {
    background-color: var(--main-txt-color);
    color: white;
  }

  #loginClose {
    font-size: 0em;
  }

  #loginCloseExpanded {
    transition: all ease-in-out 0.75s;
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: xx-large;
    color: var(--main-txt-color);
    border: 1px solid var(--main-txt-color);
    border-radius: 25px;
    width: 20%;
    text-align: center;
  }
}
