#loginContainer {
  position: absolute;
  bottom: 2%;
  height: 10%;
  background-color: gray;
}

#loginUsername {

}

#loginPassword {

}

#loginButton {
  width: 30%
}

#signUpButton {

}

@media (orientation: portrait) {
  #loginContainer {
    position: absolute;
    bottom: 0%;
    height: 10%;
    background-color: #2a2b2a;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
}
  
  #loginUsername {
    display: none;
  }
  
  #loginPassword {
    display: none;
  }
  
  #loginButton {
    width: 30%;
    margin: auto;
}
  
  #signUpButton {
    width: 30%;
    margin: auto;
}
}